@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Parisienne&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-font: "Montserrat", sans-serif;
  --decoration-font: "Parisienne", cursive;
}

body{
  overflow: visible;
} 

html {
  scroll-behavior: smooth;
}

.main-page {
  position: relative;
  font-family: var(--main-font);
  background-image: url("backgroundimage.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(black, 0.2);
  background-blend-mode: multiply;
  color: white;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  /* max-width: 1600px; */
  
  padding-inline: 10%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-align: center;
}


.menu-section {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.menu {
  font-size: 2em;
}

.button-three {
  --button-color: white;
  overflow: hidden;
  z-index: 100;
}

.button-three .hamburger {
  transition: translate 1s, rotate 1s;
}

.button-three[aria-expanded="true"] .hamburger {
  translate: 10px -10px;
  rotate: 0.125turn;
}

.button-three .line {
  stroke-dasharray: 60 53 38 1000;
  transition: 1s;
}

.button-three[aria-expanded="true"] .line {
  stroke-dasharray: 60 105 60 1000;
  stroke-dashoffset: -90;
}

#navigation-menu {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("backgroundMenu.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #dac28e;
  z-index: 3;
  margin: auto;
  transition: 2s;
  display: none;
  justify-content: center;
}

.list {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  line-height: 1.2em;
  text-align: center;
  list-style: none;
}

.list-item {
  width: 100%;
  cursor: pointer;
}

.list-link {
  text-decoration: none;
  color: black;
}

.list-link:hover {
  text-decoration: none;
  color: black;
}

#selected-item {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: -1;
  width: 100%;
  height: 100vh;
  font-size: 18em;
  text-transform: uppercase;
  opacity: 0.1;
  color: black;
  line-height: 20em;
}

@media only screen and (max-width: 450px) {
  .list {
    margin: 3em auto;
  }
  #selected-item {
    display: none;
  }

  .menu {
    font-size: 10px;
  }
}

.links {
  width: 20vw;
  height: 100%;
}

.list-contact {
  display: flex;
  justify-content: flex-end;
  gap: 2em;
  list-style: none;
}

.list-contact-link {
  text-decoration: none;
  color: white;
}

.list-contact-link:hover {
  color: #6b94a8;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  margin-top: 15%;
  text-transform: uppercase;
  user-select: none;
}

.quote {
  line-height: 30px;
  margin-top: 2em;
}

.quote:nth-child(2) {
  padding-left: 150px;
}

.decoration-text {
  font-family: var(--decoration-font);
  font-size: 7rem;
  text-transform: lowercase;
  padding-left: 9rem;
}

.change {
  padding-left: 5.5rem;
}

.widgets{
  display: flex;
  flex-direction: column;;
  position: absolute;
  bottom: 5em;
  right: 10%;
  width: 23em;
  z-index: 2;
  font-family: var(--main-font);
}

.weather-widget{
  height: auto;
  background-color: rgba(217, 217, 217, 0.6);
  border-radius: 1em;
  padding: 1em 1.5em;
  margin-bottom: 2em;  
  display: flex;
  justify-content: space-evenly;
}

.weather-left, .weather-right{
  width: 50%;
}

.weather-left{
  padding-right: 1em; 
}

.weather-right{
  padding-left: 1em;  
}

.weather-right h4{
  font-size: 1.2em;
  text-transform: capitalize;
}

.weather-right span{
  text-decoration: underline;
}

.weather-title{
  font-size: 1.5em;
}

.form {   
  height: auto;
  background-color: rgba(217, 217, 217, 0.6);
  border-radius: 1em;
  padding: 1em 2em;
  display: flex;
  justify-content: center;  
}

.dates,
.value {
  display: flex;
  justify-content: space-around;
  padding-top: 0.5em;
}

.value {
  margin-top: 1em;
}

.errorInput{
  border: 2px solid red;  
}

.error{
  color: red;
  font-size: 10px;
  overflow: visible;  
}

@media only screen and (max-width: 980px) {

  .widgets{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 3;
  }

  .weather-widget{
    /* height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;         */
    display: none;
  }

  .form {    
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    flex-direction: row;
    margin: 0 auto;
    border-radius: 0;
    width: 100%;
  }

  .list-contact-item {
    font-size: 0.7em;
    padding: 0 0.5em;
  }

  .menu-section{
    font-size: 10px;
  }

  .menu{
    font-size: 20px;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    margin-top: 7rem;
    text-transform: uppercase;
    user-select: none;
    padding-right: 2em;
  }

  .quote {
    margin-left: 50px;
  }

  .quote:nth-child(2) {
    margin-top: 1em;
    padding-left: 25px;
  }

  .decoration-text {
    font-family: var(--decoration-font);
    font-size: 4rem;
    text-transform: lowercase;
    padding-left: 10rem;
  }

  .change {
    padding-left: 7rem;
  }

  .list-contact {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    list-style: none;
  }
  
}

.dateContainer,
.valueContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-transform: uppercase;
}

.dateContainer:nth-child(1),
.valueContainer:nth-child(1) {
  margin-right: 1em;
}

.dateContainer:nth-child(2),
.valueContainer:nth-child(2) {
  margin-left: 1em;
}

/* .date-card{
  height: 8em;
  width: 100%;
  position: absolute;
  background-color: red;
} */

.valueContainer {
  align-items: flex-start;
}

.datePicker {
  text-align: center;
}

.valuePicker {
  height: auto;
  width: 100%;
  margin: 0;
  text-align: right;
}

#submit {
  width: 100%;
  height: 3em;
  font-size: 1.2em;
  margin-top: 1em;
  position: relative;
  color: white;
  background-color: #1e3440;
  border: none;
  transition: 0.6s;
}

#submit:hover {
  background-color: #6b94a8;
}

.show-book{
  width: 100%;
  height: 3em;
  font-size: 1.2em;
  margin-top: 1em;
  position: relative;
  color: white;
  background-color: #1e3440;
  border: none;
  transition: 0.6s;
  display: none;
  text-align: center;
}

.show-book:hover{
  background-color: #6b94a8;
}

.scroll-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 2em;
  cursor: pointer;
}

#scroll-to {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scroll-to:hover {
  text-decoration: none;
}

.second-screen,
.four-screen {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-items: center;
  align-items: baseline;
}

.half {
  width: 50%;
  color: white;
}

.left {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.right {
  margin-right: 10%;
  margin-top: 0;
}

.section-title {
  color: #dac28e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
}

.spacer {
  height: 1px;
  width: 140px;
  background-color: #dac28e;
  margin-bottom: 1em;
}

.spacer-media {
  display: none;
}

.section-description {
  font-size: 1.5em;
  font-weight: 300;
}

.right-second {
  background-image: url(./imageSectionTwo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(black, 0.2);
  margin-left: 10em;
  height: 100%;
  -webkit-box-shadow: inset 15px 0px 48px -7px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 15px 0px 48px -7px rgba(0, 0, 0, 1);
  box-shadow: inset 15px 0px 48px -7px rgba(0, 0, 0, 1);
}

.photo-text {
  text-transform: uppercase;
  font-size: 10em;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.25);
  position: relative;
  top: 25%;
  right: 6rem;
  line-height: 11rem;
}

.third-screen {
  color: white;
  background-color: black;
  min-height: 2em;  
  text-align: center;
  font-size: 4em;
  font-family: var(--decoration-font);
  font-weight: lighter;
  padding-top: 2em;
  padding-bottom: 2em;
}



.photo-text-four {
  text-align: end;
  position: relative;
  top: 25%;
  left: 6rem;
}



.left-four {
  background-image: url(./iamgeSectionFour.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(black, 0.2);
  margin-left: 10em;
  height: 100%; 
  -webkit-box-shadow: inset -15px 0px 48px -7px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset -15px 0px 48px -7px rgba(0, 0, 0, 1);
  box-shadow: inset -15px 0px 48px -7px rgba(0, 0, 0, 1);
}

.right-four{
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  margin-left: 7em;
}



.fifth-screen {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
  padding-top: 3em;
  padding-bottom: 3em;
}



@media only screen and (max-width: 1300px) {
  .second-screen,
  .four-screen {
    height: 100%;
  }

  .show-book{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }

  .spacer {
    height: 1px;
    width: 200px;
    background-color: #dac28e;
    margin-bottom: 1em;
  }

  .spacer-media {
    height: 1px;
    width: 110px;
    background-color: #dac28e;
    margin-bottom: 0;
    display: block;
  }

  .right-second {
    display: none;
  }

  .left,
  .right {
    width: 100%;
    margin: 0 auto;
    padding: 5em 2em;
  }

  .left-four {
    display: none;
  }

  .right-four {
    width: 100%;
    margin: 0 auto;
    padding: 5em 2em 0 2em;
  }

  .third-screen {
    display: none;
  }

  .fithf-screen {
    display: none;
  }

  .videoWrapper{
    display: none;    
  }

  .scroll-down{
    display: none;
  }
  
}

.sixth-screen{
  width: 100%;
  height: auto;
  background-color: black;
  color: #6b94a8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
}

.contact-form{
  min-width: 800px;
  margin-bottom: 3em;
  padding-top: 2em;  
  padding-right: 3em;
  background-color: black; 
  display: flex;
  justify-content: flex-end;
  
}

.contact-form-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form-title{
  text-align: center;
  font-size: 2.5em;  
  padding-bottom: 1em;
}

.contact-inputs{
  display: flex;
  justify-content: flex-start;
  gap: 1em;  
}

.contact-inputs input{
  background-color: white;
  color: #1e3440;
  border: none;
  margin-bottom: 1em;
  padding-inline: 0.5em;
}

.contact-inputs input::placeholder{
  color: #1e3440;
  opacity: 1;
}

.contact-name, .contact-email{
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 24px;  
}

.contact-msg{
  width: 100%;
  min-height: 10em;
  font-size: 20px;
  padding: 0.5em;
  background-color: white;
  color: #1e3440;
}

.contact-msg::placeholder{
  color: #1e3440;
  opacity: 1;
}

#submit-contact{  
  margin-top: 1em;
  font-size: 16px;
  font-weight: 700;
  padding: 0.5em 1em;
  width: 7em;
  margin-right: 0;
  margin-left: 0;
  transition: 0.6s;
  color: white;
  background-color: #1e3440;
  border: none;  
}

#submit-contact:hover {
  background-color: white;
  color: #1e3440;
}

.map-responsive{
  padding-left: 3em;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;

}



@media only screen and (max-width: 650px) {
 
  .contact-form{
    min-width: 300px;    
    overflow: hidden;
    justify-content: flex-start;    
  }

  .contact-form-form{
    align-items: flex-start;
  }

  .contact-name, .contact-email{
    font-size: 12px;
  }

  .contact-msg{
    min-height: 10em;
    font-size: 12px;
  }

  .location{
    padding: 1em;
    width: 350px;
    justify-self: center;
  }

  .map-responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .map-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

@media only screen and (max-width: 1500px){
  .sixth-screen{    
    flex-direction: column;
  }

  .map-responsive{
    padding-bottom: 3em;
    padding-left: 0;
    justify-content: center;    
  }

  .contact-form{
    padding-right: 0;
    justify-content: center;
  }
}