@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Parisienne&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-font: "Montserrat", sans-serif;
  --decoration-font: "Parisienne", cursive;
}

/* body{
  overflow: hidden;
} */

html {
  scroll-behavior: smooth;
}

.main-page {
  position: relative;
  font-family: var(--main-font);
  background-image: url("backgroundimage.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(black, 0.2);
  background-blend-mode: multiply;
  color: white;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.navigation {
  max-width: 1600px;
  margin: 0 10% 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-align: center;
}

.menu-section {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.menu {
  font-size: 2em;
}

.button-three {
  --button-color: white;
  overflow: hidden;
  z-index: 100;
}

.button-three .hamburger {
  transition: translate 1s, rotate 1s;
}

.button-three[aria-expanded="true"] .hamburger {
  translate: 10px -10px;
  rotate: 0.125turn;
}

.button-three .line {
  stroke-dasharray: 60 53 38 1000;
  transition: 1s;
}

.button-three[aria-expanded="true"] .line {
  stroke-dasharray: 60 105 60 1000;
  stroke-dashoffset: -90;
}

#navigation-menu {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("backgroundimage.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #dac28e;
  z-index: 3;
  margin: auto;
  transition: 1.2s;
  display: none;
}

.list {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 3em;
  line-height: 1.2em;
  text-align: center;
  list-style: none;
}

.list-item {
  width: 100%;
  cursor: pointer;
}

.list-link {
  text-decoration: none;
  color: black;
}

.list-link:hover {
  text-decoration: none;
  color: black;
}

#selected-item {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: -1;
  width: 100%;
  height: 100vh;
  font-size: 20em;
  text-transform: uppercase;
  opacity: 0.1;
  color: black;
  line-height: 20em;
}

@media only screen and (max-width: 450px) {
  .list {
    margin: 3em auto;
  }
  #selected-item {
    display: none;
  }
}

.links {
  width: 20vw;
  height: 100%;
}

.list-contact {
  display: flex;
  justify-content: flex-end;
  gap: 2em;
  list-style: none;
}

.list-contact-link {
  text-decoration: none;
  color: white;
}

.list-contact-link:hover {
  color: #1e3440;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  margin-top: 7rem;
  text-transform: uppercase;
  user-select: none;
  padding-right: 10em;
}

.quote {
  line-height: 30px;
  margin-top: 2em;
}

.quote:nth-child(2) {
  padding-left: 150px;
}

.decoration-text {
  font-family: var(--decoration-font);
  font-size: 7rem;
  text-transform: lowercase;
  padding-left: 9rem;
}

.change {
  padding-left: 5.5rem;
}

.form {
  position: absolute;
  bottom: 5em;
  right: 10%;
  width: 23em;
  height: auto;
  background-color: rgba(217, 217, 217, 0.6);
  border-radius: 1em;
  padding: 1em 2em;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.dates,
.value {
  display: flex;
  justify-content: space-around;
  padding-top: 0.5em;
}

.value {
  margin-top: 1em;
}

@media only screen and (max-width: 980px) {
  .form {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border-radius: 0;
    z-index: 3;
  }

  .list-contact-item {
    font-size: 0.8em;
    padding: 0 0.5em;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    margin-top: 7rem;
    text-transform: uppercase;
    user-select: none;
    padding-right: 2em;
  }

  .quote {
    margin-left: 50px;
  }

  .quote:nth-child(2) {
    margin-top: 1em;
    padding-left: 25px;
  }

  .decoration-text {
    font-family: var(--decoration-font);
    font-size: 4rem;
    text-transform: lowercase;
    padding-left: 10rem;
  }

  .change {
    padding-left: 7rem;
  }

  .list-contact {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    list-style: none;
  }
}

.dateContainer,
.valueContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-transform: uppercase;
}

.dateContainer:nth-child(1),
.valueContainer:nth-child(1) {
  margin-right: 1em;
}

.dateContainer:nth-child(2),
.valueContainer:nth-child(2) {
  margin-left: 1em;
}

/* .date-card{
  height: 8em;
  width: 100%;
  position: absolute;
  background-color: red;
} */

.valueContainer {
  align-items: flex-start;
}

.datePicker {
  text-align: center;
}

.valuePicker {
  height: auto;
  width: 100%;
  margin: 0;
  text-align: right;
}

#submit {
  width: 100%;
  height: 3em;
  font-size: 1.2em;
  margin-top: 1em;
  position: relative;
  color: white;
  background-color: #1e3440;
  border: none;
  transition: 0.6s;
}

#submit:hover {
  background-color: #6b94a8;
}

.scroll-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 2em;
  cursor: pointer;
}

#scroll-to {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scroll-to:hover {
  text-decoration: none;
}

.second-screen {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-items: center;
}

.half {
  width: 50%;
  color: white;  
}

.left {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.right {
  margin-right: 10%;
  margin-top: 0;
}

.section-title {
  color: #dac28e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
}

.spacer {
  height: 1px;
  width: 140px;
  background-color: #dac28e;
  margin-bottom: 1em;
}

.spacer-media {
  display: none;
}

.section-description {
  font-size: 1.5em;
  font-weight: 300;
}

@media only screen and (max-width: 1100px) {
  .spacer {
    height: 1px;
    width: 200px;
    background-color: #dac28e;
    margin-bottom: 1em;
  }

  .spacer-media {
    height: 1px;
    width: 110px;
    background-color: #dac28e;
    margin-bottom: 0;
    display: block;
  }

  .right {
    display: none;
  }

  .left{
    width: 100%;
    margin: 0 auto;
    padding: 5em 2em;
  }
  
}

.right {
  background-image: url(./imageSectionTwo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(black, 0.2);
  margin-left: 10em;
  -webkit-box-shadow: inset 15px 0px 48px -7px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 15px 0px 48px -7px rgba(0, 0, 0, 1);
  box-shadow: inset 15px 0px 48px -7px rgba(0, 0, 0, 1);
}

.third-screen {
  color: white;
  background-color: black;
  height: auto;
  text-align: center;
  font-size: 4em;
  font-family: var(--decoration-font);
  font-weight: lighter;
}
